<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs48.g15.notehub">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-sdk android:maxSdkVersion="22"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="NoteHub"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.cs48.g15.notehub.LoginActivity"
            android:label="NoteHub">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cs48.g15.notehub.SignupActivity" />
        <activity
            android:name="com.cs48.g15.notehub.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:theme="@style/AppTheme" />
        <activity android:name="com.cs48.g15.notehub.MainActivity" />
        <activity
            android:name="com.ipaulpro.afilechooser.FileChooserActivity"
            android:icon="@drawable/ic_chooser"
            android:enabled="@bool/use_activity"
            android:exported="true"
            android:label="@string/choose_file" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

    </application>
</manifest>